@import "tailwindcss";

/* Thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: block;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c7cad0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
